<!-- <div class="row">
    <div class="col-xs-12">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" >
              <a routerLink="/profile" >{{email}}</a>
            </li>
          </ul>
    </div>
  </div>  -->
<div class = "container">
  <div class="row">
    <div class="col-md-5">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" >
          <a routerLink="/profile" >{{email}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-7">
      <app-feed></app-feed>
    </div>
  </div>
</div>