
.chat {
    display: flex
}

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0;
    overflow-y: scroll
}
